# ignoring all .txts
*.txt

# ignoring all demos .dem
*.dem

# ignoring all protobuf .pb
*.pb

# ignoring 
data/matches.jsonl
data/players.json
data/teams.json
data/minimap.json


# ignoring executables
/main
/f


# ignoring silly markdown files

# ignoring shell files (for now)
test.sh