# ignoring all .txts
*.txt

# ignoring all demos .dem
*.dem

# ignoring all protobuf .pb
*.pb

# ignore pings
*.png

# ignoring 
data/matches.jsonl
data/players.json
data/teams.json
data/minimap.json


# ignoring executables
/main
/round-two-cs

# other ignores
backup.md
